@font-face {
    font-family: 'terminal-grotesque';
    src: url('./fonts/terminal-grotesque.ttf');
}
@font-face {
    font-family: 'NotCourierSans';
    src: url('./fonts/NotCourierSans-Bold.ttf');
}
:root {
    --main-bg-color: lavender;
}

html, body{
    background-color: var(--main-bg-color);
    justify-content: center;
    /* text-align: center; */
    font-family: terminal-grotesque;
    font-size: 1.8em;
    line-height: 1.1em;
    margin: 1%;
}
.column1, .column2{
    float: left;
}
.column1{
    width: 35%;
}
.column2{
    width: 65%;
}
#word_1{
    height: 50px;
    border: 2px;
    width: 100%;
}

#selected_word{
    font-size: 1.8em;
    font-family: 'terminal-grotesque';
    margin-top: 5%;
    margin-bottom: 20px;
}

#translations{
    font-size: 0.9em;
}
#definition{
    font-family: 'NotCourierSans';
    font-size: 0.5em;
    position: absolute;
    bottom: 15%;
    line-height: 1.2;
}

button{
    border: none;
    background: none;
    font-size: 1.8em;
    line-height: 1.1em;
    font-family: 'terminal-grotesque';

}

button:hover{
    background-color: black;
    color: white;
    border-radius: 22%;
}

button  #shuffle_button{
    font-size: 1.2em;
    color: black;
    border: 1px;
    border-radius: 22%;
}

button #shuffle_button:hover {
    color: var(--main-bg-color);
    background-color: black;
    border-radius: 22%;
}