<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>word-mixer</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
    
    <div class="column1">
        {% for term in terms %}
        <div id="english_term">
            <button data-id="{{term[0]}}" data-word="{{term[1]}}" data-definition="{{term[2]}}"><span>{{term[1]}}</span></button>

        </div>
        {% endfor %}
    </div>
    <div class="column2">
        <div class="box">
            <div class="mixer">
                
                <div id="selected_word"></div>
                
                <div id="translations"><span></span></div>
                
                <div id="shuffle_button"> 
                    <button>*</button>
                </div>

                <div id="definition"></div>

            </div>

        </div>

    </div>

    
</body>

<script>
    
    let currTranslations;
    function nameSelect(id, word, definition){
        
        // console.log(id, word, definition);
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: "{{ url_for('term') }}",
            dataType: 'json',
            data: JSON.stringify({'id': id, 'word': word, 'definition': definition}),

        }).done( (data) => {
            document.getElementById('selected_word').innerHTML=word;
            document.getElementById('definition').innerHTML=nl2br(definition);

            $translations = document.getElementById('translations');

            $translations.innerHTML = '';
            currTranslations = data['translations'];
            for(let i = 0; i < currTranslations.length; i++){
                $translations.innerHTML += currTranslations[i] + ' ';

            };
            $shuffle_btn.style.display='block';
    });
    }      
    function shuffleButton(){
        
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: "{{ url_for('split') }}",
            dataType: 'json',
            data: JSON.stringify({'currTranslations': currTranslations}),
            
            }).done( (currTranslations)=>{
            console.log(currTranslations);
            })  

    }
                 
   

    

    let $btns = document.querySelectorAll('#english_term button');

    for(let $btn of $btns){
        $btn.addEventListener('click', () => {
            // console.log('click');
            let id = $btn.getAttribute('data-id');
            let word = $btn.getAttribute('data-word');
            let definition = $btn.getAttribute('data-definition');
            nameSelect(id, word, definition);
        });
    }

   
    function nl2br (str, is_xhtml) {
    if (typeof str === 'undefined' || str === null) {
        return '';
    }
    let breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';
    return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
    }

    let $shuffle_btn = document.querySelector('#shuffle_button button');
    $shuffle_btn.style.display = "none";
    $shuffle_btn.addEventListener('click', () => {
        shuffleButton();
    })

</script>
</html>
